/* Work Sans Font from Google  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* Shared Styles */
* {
  font-family: "Work Sans", sans-serif;
  /* margin: 0px;
  padding: 0px; */
}

.btn-primary {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #ff42a5;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 32px;
}

/* Nav Styles  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 12% 40px 12%;
}

.site-title {
  display: flex;
  align-items: center;
}

.site-icon {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.site-icon-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.icon-g {
  color: #ff42af;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav li {
  margin-right: 20px;
  color: #3c354f;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

nav a {
  text-decoration: none;
}
.nav-follow {
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 25px;
}
.nav-follow-icon {
  width: 1.5rem;
  margin: 0px 10px;
}

/* Header Styles  */

.header-container {
  margin: 20px 0.1vw 0px 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* header right styles  */

.header-left {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.section-title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.section-title .title-pink {
  color: #c54fcf;
  text-align: center;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}

.header-left-description p {
  color: #534c64;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: lowercase;
}

.header-left-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn-rogue {
  background-color: #4ec5f7;
}

.header-right img {
  max-width: 100%;
}

/* Main Section Styles  */

/* grid section styles  */

.grid-section {
  margin: 100px 0.1vw 0px 0.1vw;
  justify-content: center;
  align-items: center;
}

.grid-section h2,
p {
  text-align: center;
  padding-bottom: 20px;
}

#funny-videos,
#play-instantly {
  font-size: 3rem;
}

.section-description {
  color: #534c64;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.grid-card {
  width: 20%;
}

.grid-card > img {
  width: 100%;
}

.grid-img-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}

.grid-container{
  position: relative;
}

.play-icon{
  width: 100px;
  position: absolute;
  right: 25%;
  top: 30%;
}

.play-icon:hover{
  box-shadow: 0 0 10px 110px rgb(9, 0, 0, .5);
}

/* game-section styles  */

.game-section {
  margin: 20px 10% 0px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.game-section-right {
  position: relative;
}
.game-main-photo {
  width: 80%;
  height: 80%;
  padding-left: 15%;
}

.game-sub-photo {
  width: 60%;
  height: 60%;
  position: absolute;
  bottom: -20%;
}

/* tag section  */

.tag-section {
  margin: 300px 10% 100px 10%;
}

.tag-grid-row-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.tag-grid-row-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-item {
  display: flex;
  gap: 5px 20px;
  padding: 20px;
}

.grid-item:hover {
  border: 1px solid orangered;
  border-radius: 50px;
  color: orangered;
}

/* footer styles  */

.footer {
  background-color: #0b0223;
  padding-top: 100px;
}
.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-icon {
  width: 80px;
}

.footer-icon-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin: 0px;
}

.footer-nav {
  color: white;
  font-size: 1.2rem;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-social-icon {
  background-color: white;
  width: 30px;
  border-radius: 50%;
}

.footer-legal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.footer-legal {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.copyright {
}

.copyright-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

/* responsive styles for tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    margin: 10px 12% 10px 12%;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .header-container {
    margin: 20px 10% 0px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 10%;
  }
  .grid-card {
    width: 80%;
  }

  .game-section {
    flex-direction: column;
    padding-right: 20%;
  }
}


/* responsive styles for tablet */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    margin: 10px 12% 10px 12%;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .header-left {
    margin-left: 15%;
  }

  .section-title {
    text-align: center;
  }

  .header-left-description p {
    text-align: center;
  }

  .header-left-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .header-right {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .header-right img {
    margin-top: 50px;
    max-width: 80%;
    justify-content: center;
  }

  /* grid section responsive styles  */
  .grid {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .grid-card {
    width: 80%;
  }

  .game-section {
    flex-direction: column;
    gap: 0px;
  }

  .game-main-photo img {
    width: 100%;
    height: 80%;
    /* padding-left: 15%; */
  }
  .game-sub-photo {
    bottom: -35%;
    right: 40%;
  }

  .game-sub-photo img {
    width: 50%;
  }

  /* tag section responsive */
  .tag-section {
    margin: 100px auto 0px auto;
  }

  .tag-grid-row-1,
  .tag-grid-row-2 {
    flex-direction: column;
  }

  /* footer-style  */
  .footer {
    padding: 30px auto 30px auto;
  }
  .footer-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 0px;
  }

  .footer-legal-nav {
    flex-direction: column;
    margin-top: 40px;
    gap: 0px;
  }

  .footer-legal {
    margin: 0px;
  }
}
